@font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-Regular.ttf") format("ttf"), url("fonts/Barlow-Regular.woff") format("woff");
}
@font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-Light.ttf") format("ttf"), url("fonts/Barlow-Light.woff") format("woff");
    font-weight: 100;
}
@font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-LightItalic.ttf") format("ttf"), url("fonts/Barlow-LightItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic; 
}
@font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-Medium.ttf") format("ttf"), url("fonts/Barlow-Medium.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-MediumItalic.ttf") format("ttf"), url("fonts/Barlow-MediumItalic.ttf") format("woff");
    font-weight: 400;
    font-style: italic; 
}
@font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-SemiBold.ttf") format("ttf"), url("fonts/Barlow-SemiBold.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-SemiBoldItalic.ttf") format("ttf"), url("fonts/Barlow-SemiBoldItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic; 
}



body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
}

@media screen and (min-width: 1280px) {
    #img {
        width: 1250px;
    }
    body{
        margin: 50px 0 0 0; 
    }   
}
@media screen and (min-width: 1500px) {
    #img {
        width: 1480px;
    }
    #projects{
        margin-top: 70px;
    } 
}

#index{
    text-align: left;
    position: relative;
    color: rgb(113,113,113);
    font-weight: 400;
    font-size: 14px;
}
#index ul{
    position: absolute;
    top: 140px;
}
#index ul li{
    position: relative;
    margin: 10px 0;
}
#index ul li:before {
    content: "\2022";
    color: rgb(254,182,185);
    display: inline-block;
    font-size: 40px;
    position: absolute;
    top: -22px;
    left: -16px;
}
@media screen and (min-width: 1440px) {
    #index ul {
        left: 200px;
    }
    
    #index ul li:before {
        top: -19px;
        left: -20px;
    }
}

#projects .row{
    width: 500px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
}
.project img{
    border-radius: 100%;
}
.project:nth-child(1),.project:nth-child(4),.project:nth-child(5){
    position: relative;
    top: 60px;
}

  
#projects .project {
    border: 1px solid rgb(23,173,65);
    height: 220px;
    text-align: center;
    border-radius: 55px;
    min-width: 95px;
    width: 95px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}
#projects .project.light-green {
    border: 1px solid rgb(150,200,49);
    position: relative;
    left: 15px;
}
.project-desc i{
    color: #ccc;
}
.project-name {
    font-weight: 500;
}
.project-desc{
    font-size: 11px;
}
#down-bkg img{
    position: relative;
    left: -190px;
    height: 200px;
    top: 100px;
}
.profile .icon{
    background-color: rgb(254,182,183);
    min-width: 22px;
    max-width: 22px;
    min-height: 22px;
    max-height: 22px;
    border-radius: 100%;
    margin-left: 1px;
    margin-top: 2px;
    line-height: 25px;
}
.profile{
    padding-right: 30px;
}
.profile > div{
    border: 1px solid rgb(176,229,221);
    width: 24px;
    height: 40px;
    border-radius: 20px;
    float: right;
    margin: 0 10px;
    padding: 1px;
}
.profile > div:nth-child(2) .icon{
    position: relative;
    top: 14px;
}
a{
    text-decoration: none;
    color: black;
}
.overlay{
    position: relative;
    top: -40px;
    color: white;
    font-weight: 500;
    left: 7px;
    width: 100px;
    margin: 0 auto;
    user-select: none;
}
.hide{
    visibility: hidden;
}
.warning{
    position: relative;
    top: 40px;
    text-align: center;
    left: 139px;
    display: inline-block;
    color: #444;
    font-size: 11px;
}